package templates

import "cicd/templates/layout"
import "cicd/internal/database/model"
import "cicd/templates/components"

templ ListTodo(list []model.TODOModel){
    @layout.Base("TODO list"){
        <div class="grid grid-cols-5 gap-4">
            for _, task := range list{
                @components.Card(task)
            }
        </div>
    }
}